services:
  reverse-proxy:
    image: nginx:latest
    container_name: reverse_proxy
    ports:
      - "443:443"
    volumes:
      - ./certs:/etc/nginx/certs
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend

  frontend:
    build: ./frontend
    container_name: nuxt_frontend
    expose:
      - "3000"
    environment:
      - NODE_ENV=production

  backend:
    build: ./backend
    container_name: laravel_backend
    expose:
      - "8000"
    environment:
      - DB_HOST=mysql_db
      - DB_DATABASE=backend
      - DB_USERNAME=root
      - DB_PASSWORD=
    volumes:
      - ./backend:/var/www/html
    depends_on:
      - mysql_db

  mysql_db:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: backend
      MYSQL_USER: root
      MYSQL_PASSWORD:
    volumes:
      - db-data:/var/lib/mysql

volumes:
  db-data:
